.tg  {
    border-collapse:collapse;
    border-spacing:0;
}

.tg td{
    font-family:Arial, sans-serif;
    font-size:14px;
    padding:10px 5px;
    border-style:solid;
    border-width:1px;
    overflow:hidden;
    word-break:normal;
    border-color:black;
}

.tg th{
    font-family:Arial, sans-serif;
    font-size:14px;
    font-weight:normal;
    padding:10px 5px;
    border-style:solid;
    border-width:1px;
    overflow:hidden;
    word-break:normal;
    border-color:black;
}

.tg .tg-lkbg{
    font-weight:bold;
    font-size:28px;
    background-color:#accbf9;
    color:#000000;
    text-align:left;
    vertical-align:top
}

.tg .tg-90eu{
    font-size:28px;
    background-color:#63a2ff;
    color:#000000;
    text-align:left
}

.tg .tg-rg6j{
    font-weight:bold;
    font-size:28px;
    background-color:#accbf9;
    color:#000000;
    text-align:left
}

.tg .tg-v1e1{
    background-color:#001b7f;
    color:#ffffff;
    text-align:left
}

.tg .tg-g9v4{
    background-color:#001b7f;
    color:#ffffff;
    text-align:left;
    vertical-align:top
}

.tg .tg-tddb{
    font-size:28px;
    background-color:#63a2ff;
    color:#000000;
    text-align:left;
    vertical-align:top
}

.tg .tg-mf3y{
    background-color:#63a2ff;
    color:#000000;
    text-align:left;
    vertical-align:top
}

.tg .tg-hw10{
    background-color:#accbf9;
    color:#000000;
    text-align:left;
    vertical-align:top
}
