/*======================================================
 * Style for Buttons
 ======================================================*/

.button{
	margin: 0 auto;
	width: 20%;
	border: 2px solid green;
	background: #acfc53;
	border-radius: 4px;
}

#yes-btn{
	width: 35%;
	border: 2px solid green;
	background: #aef731;
	font-weight: bold;
}

#no-btn{
	width: 35%;
	border: 2px solid red;
	background: #fc8480;
	font-weight: bold;
}

.centered{
	margin: 0 auto;
	width: 200px;
	padding: 20px;
}

.centered-text{
	margin: 0 auto;
	width: 50%;
	text-align: center;
}

.centered-img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
}

a {
	display: block;
	width: 100%;
	line-height: 2em;
	text-align: center;
	border-radius: 5px;
}

a:hover {
	color: #8228ef;
	background: #dfb4f7;
}

.page-title{
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 40px;
}

#wrong{
	font-size: 30px;
	text-align: center;
	color: #f92418;
}

#right{
	font-size: 30px;
	text-align: center;
	color: #09872d;
}